.movie{
    margin: 1rem;
    padding: 1rem;
    background-color: #230052;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
    color: white;
    border-radius: 12px;
    text-align: center;
}

.movie h2{
    font-size: 2rem;
    color: #f7e702;
}

.movie h3{
    margin: 0;
    color: #eccf77;
    font-size: 1rem;
}